// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '../../node_modules/select2/dist/css/select2.min';

html, body {
    background-color: $body-bg;
    color: $white;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    font-size: 1rem;
}

.navbar {
    border-bottom: 3px solid $green;
}

.nav-icon {
    margin-right: 5px;
}

.no-hover:hover {
    pointer-events: none;
}

.nav-spacer {
    margin-left: 15px;
}

#hometown-nav-item {
    cursor: pointer;
}

#hometown-nav-items {
    display: none;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.bottom-centre {
    position: absolute;
    bottom: 20px;
}

.page-title {
    font-size: 6rem;
}

.z-10 {
    z-index: 10;
}

.sedgwick {
    font-family: 'Sedgwick Ave Display', sans-serif;
}

.large-text {
    font-size: 20px;
    font-weight: 400;
}

.btn-link {
    color: $green;
}

.btn-link:hover {
    color: $green;
}

.links > a {
    color: $grey1;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.section {
    border-top: 3px solid $green;
}

.premium-section {
    border-top: 3px solid $premium;
}

.grey-section {
    background-color: $grey;
}

.green-section {
    background-color: $green;
}

#description-box {
    max-height: 55px;
    overflow: hidden;
}

#description-box.more {
    max-height: 100%;
}

#description-more {
    display: none;
}

.official-tick {
    color: $green;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 10;
}

.subtitle-line {
    width: 100px;
    border: 3px solid $green;
    border-radius: 5px;
}

.subtitle-line-premium {
    width: 100px;
    border: 3px solid $premium;
    border-radius: 5px;
}

.border-subtle {
    border-bottom: 1px solid $grey3;
}

.separator {
    border-bottom: 1px solid $white;
}

.register-button {
    background-color: $white;
    color: $green;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;
}

.register-button:hover {
    background-color: $grey2;
    color: $white;
    text-decoration: none;
}

.premium-button {
    background-color: $premium;
    color: $black;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;
}

.premium-button:hover {
    background-color: $premium1;
    color: $black;
    text-decoration: none;
}

.feature-icon {
    font-size: 40px !important;
    color: $green;
    margin-bottom: 0.5rem;
}

.feature-icon-premium {
    font-size: 40px !important;
    color: $premium;
    margin-bottom: 0.5rem;
}

.subtitle,
.footer-subtitle {
    color: $green;
}

.subtitle {
    font-size: 40px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-link,
.footer-link a {
    font-size:15px;
    color: $white;
}

.text-white {
    color: $white;
}

.text-green {
    color: $green;
}

.text-premium {
    color: $premium;
}

.text-shadow {
    text-shadow: 0 0 10px $black;
}

.bg-grey {
    background-color: $grey;
}

.bg-grey .dropdown-item:not(.btn-premium):hover {
    background-color: $green;
}

.bg-green {
    background-color: $green;
}

.bg-black {
    background-color: $black;
}

.bg-premium,
.bg-premium:focus,
.bg-premium:active {
    background-color: $premium;
    color: $black;
}

a.bg-premium:hover {
    background-color: $premium1;
    color: $white;
}

.btn-green {
    background-color: $green;
    color: $white;
}

.btn-green:hover {
    background-color: $green1;
    color: $white;
}

.btn-premium,
a.btn-premium {
    background-color: $premium;
    color: $black;
}

.btn-premium:hover,
a.btn-premium:hover {
    background-color: $premium1;
    color: $black;
}

.btn-feature {
    padding: 0 0.75rem;
    border-radius: 0.35rem 0 0 0.35rem;
    font-size: 0.8rem;
    font-weight: 400;
    text-shadow: 0 0 10px $black;
}

.btn-feature-remove {
    padding: 0 0.25rem;
    border-radius: 0 0.35rem 0.35rem 0;
    font-size: 0.8rem;
}

.btn-movement-green {
    background-color: $movementGreen;
    color: $white;
}

.btn-movement-green:hover {
    background-color: $movementGreen1;
    color: $white;
}

.btn-movement-pink {
    background-color: $movementPink;
    color: $white;
}

.btn-movement-pink:hover {
    background-color: $movementPink1;
    color: $white;
}

.btn-movement-blue {
    background-color: $movementBlue;
    color: $white;
}

.btn-movement-blue:hover {
    background-color: $movementBlue1;
    color: $white;
}

.btn-movement-orange {
    background-color: $movementOrange;
    color: $white;
}

.btn-movement-orange:hover {
    background-color: $movementOrange1;
    color: $white;
}

.btn-movement-yellow {
    background-color: $movementYellow;
    color: $white;
}

.btn-movement-yellow:hover {
    background-color: $movementYellow1;
    color: $white;
}

.btn-movement-cyan {
    background-color: $movementCyan;
    color: $white;
}

.btn-movement-cyan:hover {
    background-color: $movementCyan1;
    color: $white;
}

.text-movement-green {
    color: $movementGreen;
}

.text-movement-pink {
    color: $movementPink;
}

.text-movement-blue {
    color: $movementBlue;
}

.text-movement-orange {
    color: $movementOrange;
}

.text-movement-yellow {
    color: $movementYellow;
}

.text-movement-cyan {
    color: $movementCyan;
}

#all-movements-button {
    display: none;
}

.movements-list-hidden {
    overflow: hidden;
    max-height: 28px;
}

.card {
    border: 1px solid $green;
}

.card-header {
    font-size: 25px;
    font-weight: 600;
}

.card-header-black {
    border-bottom: 1px solid $white;
}

.card-hidden-body {
    cursor: pointer;
}

.card-hidden-body + .card-body {
    display: none;
}

.page-item .page-link {
    background-color: $grey;
    color: $white;
}

.page-item.disabled .page-link {
    background-color: $black;
    color: $grey;
}

.page-item.active .page-link {
    background-color: $green;
    border-color: $white;
}

.form-check {
    margin-left: -16px;
}

input[type="checkbox"] {
    visibility: hidden;
}
.form-check label {
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    content: "\00a0";
    background-color: $white;
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    padding: 0;
    margin-right: 5px;
    vertical-align: center;
    width: 16px;
}
input[type="checkbox"]:checked + label:before {
    background: $green;
    color: $white;
    text-align: center;
}
input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}

.fa.rating-star,
.fa.rating-circle {
    font-size: 1.5rem;
}

.fa.rating-star.editable,
.fa.rating-circle.editable {
    cursor: pointer;
}

.rating-star.fa-star {
    color: $green;
}

.rating-circle.fa-circle:nth-of-type(1) {
    color: #00ff00;
}

.rating-circle.fa-circle:nth-of-type(2) {
    color: #77ff00;
}

.rating-circle.fa-circle:nth-of-type(3) {
    color: #ffff00;
}

.rating-circle.fa-circle:nth-of-type(4) {
    color: #ff7700;
}

.rating-circle.fa-circle:nth-of-type(5) {
    color: #ff0000;
}

.vh-100-nav {
    height: calc(100vh - 60px);
}

.fragment-link {
    position: absolute;
    margin-top: -57px;
}

#map{
    height: 100%;
}

.ol-popup {
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    max-width: 100vw;
    display: none;
}

#view-spot-popup {
    min-width: 250px;
    width: 500px;
}

.ol-popup:after {
    top: 100%;
    left: calc(50% - 10px);
    border: 10px solid transparent;
    border-top-color: $green;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup .card {
    word-wrap: normal;
}

.spot-icons {
    right: 15px;
    top: 10px;
    font-size: 1.5rem;
    z-index: 5;
    position: absolute;
}

.content-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: $black;
}

.content-wrapper iframe,
.content-wrapper video,
.content-wrapper img,
.content-wrapper .youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.youtube {
    cursor: pointer;
}

.youtube .fa-youtube-play {
    font-size: 50px;
}

.map-search {
    z-index: 100;
    width: 500px;
}

#map-search-clear {
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: $grey;
    z-index: 5;
}

#address-results,
#spot-results {
    max-height: 50vh;
    overflow: auto;
}

#toggle-hometown-button {
    z-index: 100;
    bottom: 20px;
    left: 20px;
}

.user-stats {
    font-size: 30px;
}

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    max-width: 380px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.select2-container {
    min-width: 50px;
}

.select2-dropdown {
    background-color: $grey;
}

.select2-container--default .select2-results__option {
    background-color: $grey;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: $grey;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $green;
}

@include media-breakpoint-down(md) {
    .map-search {
        width: 100%;
    }

    #address-results,
    #spot-results {
        max-height: 40vh;
        overflow: auto;
    }

    .nav-tabs .nav-link.active {
        border: 1px solid $white;
        border-radius: 0.25rem;
    }
}
